* {
  box-sizing: border-box;
}

body {
  background: #0f0f1a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Press Start 2P', monospace;
}
.calculator {
  background: linear-gradient(145deg, #1f1f3a, #141428);
  padding: 25px;
  border: 4px solid #ff77aa;
  box-shadow:
    0 0 0 4px #000,
    0 0 25px #ff77aa;
  width: 300px;
}
#display {
  width: 100%;
  height: 55px;
  background: #020617;
  color: #00ffcc;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  border: 3px solid #00ffcc;
  text-align: right;
  box-shadow: inset 0 0 10px #00ffcc;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  background: linear-gradient(145deg, #2f2f55, #1e1e3a);
  color: #fff;
  border: 3px solid #ff77aa;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 4px 4px 0 #000;
  transition: 0.15s;
}
button:hover {
  background: #ff77aa;
  color: #000;
}

button:active {
  transform: translate(3px, 3px);
  box-shadow: 1px 1px 0 #000;
}
.equal {
  grid-row: span 2;
  background: linear-gradient(145deg, #00ffcc, #00c9a7);
  color: #000;
  border-color: #00ffcc;
}

.zero {
  grid-column: span 2;
}
